<form #employeeForm="ngForm"  (ngSubmit)="savedForms()">
  <div class="panel panel-primary" *ngIf="employee">
    <div class="panel-heading">
      <h3 class="panel-title">{{panelTitle}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched"
      [class.has-success]="name.valid">
        <label for="name" class="control-label">Full Name</label>
        <input type ="text" required
        [(ngModel)]="employee.name" name="name" id="name" class="form-control"
        #name ="ngModel">
       <span class="help-block" *ngIf="name.invalid && name.touched">
          Full name is required</span>
      </div>
   
      <div class="form-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input type ="text" [required]="contactPreference.value=='Email'" pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.com$"
        [(ngModel)]="employee.email"
        #email = "ngModel"
        name="email" id="email" class="form-control">
        <span class="help-block" *ngIf="email.errors?.required">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern">
          Email is invalid
        </span>
      </div>
      <div class="form-group" [class.has-error]="phoneNumber.touched && phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input type ="phoneNumber" [required]="contactPreference.value =='Phone'"
        #phoneNumber ="ngModel"
        [(ngModel)]="employee.phoneNumber" name="phoneNumber" 
        id="phoneNumber" class="form-control">
        <span class="help-block" *ngIf="phoneNumber.touched && phoneNumber.errors?.required">
          Phone Number is required
        </span>
  
      </div>
      


      <div class="form-group" [class.has-error]="contactPreference.invalid && 
      contactPreference.touched">
        <label class="control-label">Contact Preferences</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="Email" required
            #contactPreference="ngModel"
             name="contactPreference" [(ngModel)]="employee.contactPreference">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="Phone" required
            #contactPreference="ngModel"
            name="contactPreference" [(ngModel)]="employee.contactPreference">
            Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">
          Contact Preference is required 
 </span>
      </div>
      <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="Male" required #gender="ngModel"
             name="gender" [(ngModel)]="employee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="Female" required #gender="ngModel"
             name="gender" [(ngModel)]="employee.gender">
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">
                 Gender is invalid 
        </span>
      </div>
      <div class="form-group">
        <label>Check Box</label>
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox"  name="isActive" [(ngModel)]="employee.isActive" >
            Is Active
          </label>
          
        </div>
      </div>


      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for ="Department" class="control-label">
          Department
        </label>
        <select id="Department" appSelectValidator="select" name="department" 
         #department = "ngModel"
        [(ngModel)]="employee.department" class="form-control">
        <option value="select">Select Department</option>
         <option [value]="depart.id" *ngFor="let depart of departments">{{depart.name}}</option>
        
        </select>
        <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
               Department is required
        </span>
      </div>
      <div class="row"> 
        <div class="form-group col-md-5">
        <label for="dateOfBirth">DateOfBirth</label>
        <input type ="date" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" 
        id="dateOfBirth" 
        class="form-control"
        placement="right"
        >
      </div></div>
     
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input type ="photoPath" [(ngModel)]="employee.photoPath" name="photoPath" 
        id="photoPath" class="form-control">
      </div>

      <div class="form-group">
        <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary"
        *ngIf="employee.photoPath !=='' && employee.photoPath !== null">
          {{previewPhoto? "Hide" : "show"}} Preview
        </button>
      </div>

      <div class="form-group">
       <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto &&
       employee.photoPath !=='' && employee.photoPath !== null">
      </div>


      <div ngModelGroup="passwordGroup" 
      [class.has-error]="confirmpassword.touched && confirmpassword.invalid &&
      !confirmpassword.errors?.required">
        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for ="password" class="control-label"> Password  </label>
            <input name="password" required type="text" class="form-control"
            [(ngModel)]="employee.password" #password ="ngModel"
            (change)="confirmpassword.control.updateValueAndValidity()"
            >
            <span class="help-block" *ngIf="password.touched && password.errors?.required">
              password is required
       </span>
        </div>
        <div class="form-group" [class.has-error]="confirmpassword.touched && confirmpassword.invalid">
          <label for ="confirmpassword"  class="control-label"> Confirm Password  </label>
            <input name="confirmpassword" appConfirmEqualValidator="password" required type="text" class="form-control"
            [(ngModel)]="employee.confirmpassword" #confirmpassword ="ngModel"
            >
            <span class="help-block" *ngIf="confirmpassword.touched && confirmpassword.errors?.required">
              Confirm password is required
       </span>
       <span class="help-block" *ngIf="confirmpassword.touched && confirmpassword.errors?.notEqual">
                      Password and confirm Password doesn't match
       </span>
        </div>
         </div>

      </div>
      <!-- [disabled]="employeeForm.invalid" -->
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
      </div>
      </div>
</form>

 <div>Angular Generated form module : {{employeeForm.value | json}}</div>
 <div>Our Employee Model:{{employee | json}}</div>